# Warm up
Let's start with some warm up exercises to get you familiar with the database and do some SQL querying.
Make sure to have downloaded the NBA dataset form Kaggle as described in the README.

In [ ]:
import sqlite3 as sql
import pandas as pd
from pathlib import Path

## TODO: Use pathlib to get the path to the data directory. Path(__file__) won't work in a Jupyter notebook.
DATA_PATH = Path.cwd() / 'data'/ "nba.sqlite"

## Create a SQLite connection and run some SQL queries

In [ ]:
con = sql.connect(DATA_PATH)  # connect to the database
query = 'SELECT * FROM game LIMIT 10'  # write a query that selects the first 10 rows from the game table
top_10_game = pd.read_sql(query, con)  # read the query into a pandas dataframe
top_10_game.head()  # print the dataframe

In [ ]:
# let's look at the schema of the database
# TODO: sqlite_master is the name of the table you want to inspeact: Replace TABLE_NAME with the name of the table you want to inspect
query = """
    SELECT *
    FROM sqlite_master
"""

pd.read_sql(query, con).sort_values('name')

In [ ]:
# let's see all the tables we have in the database
# TODO: Filter for tables only
query = """
    SELECT name
    FROM sqlite_master
    WHERE type == "table"
"""
pd.read_sql(query, con)

In [ ]:
# let's have a look at the columns in the game table
query = """
    PRAGMA table_info(game)
"""
pd.read_sql(query, con)

In [ ]:
# let's find the earliest recorded game
query = """
    SELECT game_date
    FROM game
    ORDER BY game_date
    LIMIT 1
"""

print(pd.read_sql(query, con))

# let's find the latest recorded game
query = """
    SELECT game_date
    FROM game
    ORDER BY game_date DESC
    LIMIT 1
"""

print(pd.read_sql(query, con))

In [ ]:
# TODO: Find four interesting facts about the data and write a query to find the answer

In [ ]:
query = """
 SELECT 
  CAST(strftime('%Y', game_date) AS INTEGER) AS year,
  AVG(fgm_home) AS avg_fgm_home,
  AVG(fga_home) AS avg_fga_home,
  AVg(fg3a_home) AS avg_fg3a_home,
  AVG(fg_pct_home) AS avg_fg_pct_home
FROM game
GROUP BY strftime('%Y', game_date)
ORDER BY avg_fg3a_home DESC
LIMIT 10;
    """

print(pd.read_sql(query, con))

In [ ]:
query = """
 SELECT 
  CAST(strftime('%Y', game_date) AS INTEGER) AS year,
  AVG(fgm_home) AS avg_fgm_home,
  AVG(fga_home) AS avg_fga_home,
  AVg(fg3a_home) AS avg_fg3a_home,
  AVG(fg_pct_home) AS avg_fg_pct_home
FROM game
GROUP BY strftime('%Y', game_date)
ORDER BY avg_fg_pct_home DESC
LIMIT 10;
    """

print(pd.read_sql(query, con))